<html>
    <head>
        <title>My Website</title>
    </head>
    <body ng-app="myApp">
        <!-- load angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

        <!-- load app -->
        <script src="app.js"></script>

        <!-- load controllers -->
        <script src="pages/insertQuestion/insertQuestionController.js"></script>

        <!-- the website -->
        <div ng-controller="insertQuestionController as insertQuestionCtrl">
            <form name="insertQuestionForm" ng-submit="submit()" novalidate>
                <br>
                <div class="form-group" ng-class="{ 'has-error': insertQuestionForm.question2.$dirty && insertQuestionForm.question2.$error.required }">
                    <label for="question2">question 2 to restore password</label>
                    <br>
                    <select name="question2" id="question2" class="form-control" ng-model="question2" required>
                        <option value="">Question</option>
                        <option value="What is your dog name">What is your dog name</option>
                        <option value="What is your nickname">What is your nickname</option>
                        <option value="What is your hobby">What is your hobby</option>
                        <option value="what is the name of the hospital where you were born">what is the name of the hospital where you were born</option>
                    </select>
                    <span ng-show="registerForm.question2.$dirty && registerForm.question2.$error.required" class="help-block">Question is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': insertQuestionForm.answer2.$dirty && insertQuestionForm.answer2.$error.required }">
                    <label for="answer2">answer</label>
                    <br>
                    <input type="text" name="answer2" id="answer2" class="form-control" ng-model="answer2" required/>
                    <span ng-show="insertQuestionForm.answer2.$dirty && insertQuestionForm.answer2.$error.required" class="help-block">Answer is required</span>
                </div>
                <br>
                <input ng-disabled="insertQuestionForm.$invalid" ng-click="myFunc()" type="submit" id="submit" value="Submit">


            </form>

            <p>{{ answer }}</p>
        </div>
    </body>
</html>