<html>
    <head>
        <title>My Website</title>
    </head>
    <body ng-app="myApp">
        <!-- load angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

        <!-- load app -->
        <script src="app.js"></script>

        <!-- load controllers -->
        <script src="pages/get_attractions_by_category/get_attractions_by_categoryController.js"></script>

        <!-- the website -->
        <div ng-controller="get_attractions_by_categoryController as get_attractions_by_categoryCtrl">
            <form name="get_attractions_by_categoryForm" ng-submit="submit()" novalidate>

                <br>
                category : <select name="category1" id="category1" class="form-control" ng-model="category1" required>
                <option value="shopping">Shopping</option>
                <option value="museum">Museum</option>
                <option value="resturant">Resturant</option>
                <option value="attraction">Attraction</option>
            </select>

                <input ng-disabled="get_attractions_by_categoryForm.$invalid" ng-click="myFunc()" type="submit" id="submit" value="Submit">


            </form>

            <p>{{ answer }}</p>
        </div>
    </body>
</html>